.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  min-width: 0;
  min-height: 0;
  background: #1c1b1d;
}
.box__iGnk8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  min-height: 0;
}
.home:global(.__wab_instance) {
  position: absolute;
  left: 5%;
  top: 5%;
  width: 5%;
  height: 5%;
  align-self: auto;
}
.box__oytKf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  width: 100%;
  min-width: 0;
  padding: 5%;
}
.box__etvzI {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__etvzI > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 50%);
  height: calc(100% + 50%);
}
.box__etvzI > :global(.__wab_flex-container) > *,
.box__etvzI > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 50%;
}
.classic:global(.__wab_instance) {
  position: relative;
}
.box__eopj {
  height: auto;
  font-weight: 400;
}
.root .box__eopj:hover {
  color: #ffffff;
}
.umolympics:global(.__wab_instance) {
  position: relative;
}
.root .box__eE7Hg:hover {
  color: #ffffff;
}
.analysis:global(.__wab_instance) {
  position: relative;
}
.root .box___8Jht:hover {
  color: #ffffff;
}
.box__yJhwu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 5%;
}
.box__yJhwu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 20%);
  height: calc(100% + 20%);
}
.box__yJhwu > :global(.__wab_flex-container) > *,
.box__yJhwu > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 20%;
}
.modetitle:global(.__wab_instance) {
  position: relative;
}
.runBox:global(.__wab_instance) {
  position: relative;
  align-self: center;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__hy0Yt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 6%;
}
